/*base layout */

* {

    box-sizing: border-box;
        
    }
    
    /*background and header section*/
    body{

        font-family: 'Noto Sans', 'Arial','sans-serif';
    }
    .main-header {
    
        text-align: center;
        border: 1px solid white;
        background: #f0f1f2;
        color: gray;
         
    }
    
    .main-name{
        border: 2px solid white;
        font-size: 2rem;
        background: white;
        padding-top: 1px;
        width: 10em;
        margin: 15px auto;
        color: black;
        margin-top: 20px;
        
    /* Navigation and links */
    }
    .nav li {
        height: 3%;
    list-style: none;
    border: 2px solid white;
    font-size: 2rem;
    background: white;
    padding-bottom: 10px;
    width: 5em;
    margin: 10px auto;
    list-style-position: inside;
    color: black;
        
    }
    .nav{
        padding-left: 0;
    }

    a:link{
    color:black;
    text-decoration: none;
    }
    a:hover {
font-size: 150%;
color: firebrick;

    }
    
    /* Images section */

    img {
        width:100%;
    }
    
    .center{
        width:99%;
        max-width:1250px;
        margin: 0 auto;
            }

            
        /* Main text section */
    p,
    h2,
    h3{
    text-align: center;
    margin: 10px auto;
    padding: 10px 0;
    color: purple;    
    }

    section {
        min-height: 10px;
    }

    .initial-content
    p{
        padding: 2px 0;
    }
    

      

    /* Footer Section */
    
    .main-footer {
        text-align: center;
        border: 1px solid #f0f1f2;
        background: #f0f1f2;
        position: relative;
            
    }
    
    .back-to-top {
        float: right;
        margin-bottom: 30px;
    }
    
    .student-footer {
    float: left;
    
    }

    /* Footer Navigation */
.lower-nav{
float:right;
padding-bottom: 10px;
padding-right: 15px;

    }
    .lower-nav li{

        display: inline-block;
        text-decoration: none;
        font-weight: bold;
        margin-left: 35px;
    }

/*clearfix*/
.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

    /*media queiry*/

    @media (max-width: 768px){
        .lower-nav {
            display: none;
        }
        p{

            padding: 0 5%;
        }

    }
    
       
    @media (min-width: 768px) {
    
        /* Header */
        .main-name{
            background: #f0f1f2;
            border: solid 1px #f0f1f2;
            font-size:20px;
            padding-right: 3%;
        }
        .nav li {
            margin: 0 auto;
            width: 20%;
            display: inline-block;
            margin: 5px;
            background: #f0f1f2;
            border: solid 1px #f0f1f2;
            font-size: 20px;
            font-weight: bold;
    
        }
    
        .initial-content{
            width: 50%;
        float: left;
        text-align: left;
        font-size: 20px;
        padding-left: 2%;
        }

        /* Main Section */
        .main-image{
            width: 45%;
            float: right;
            margin: 10px 1px 10px;
            padding-left: 3%;
        }
        .secondary-heading {
    
            text-align: center;
        }
        .skillheading{
            width: 20%;
float: left;
padding: 0 40%;
margin-bottom: 10%;
margin-left: 7%;
        }

        .debug p{
            max-width: 80%;
            max-height: 75.2px;
        }
        .marketing{
    width:45%;
    float: left;
        }
    .search{
    width:45%;
    float: right;

    }
    .travel{
        width: 45%;
        float: left;
    }
    .map{
        width: 45%;
        float: right;
        
    }
    .photo{ 
        width: 45%;
        float: left;
        margin-bottom: 10%;
    }
    .calculator{
        width: 45%;
        float: right;
        margin-bottom: 10%;
    }
    .communication {
        width: 45%;
        float: left;
        
    }
    .originality{

        width: 45%;
        float: right;
    }

    /* Footer section */
    .student-footer{
        padding-left: 4%;
    }
    
    .back-to-top {

        display:none;
    }
    
}
    @media (min-width: 1024px){
       
       /* Header */
        .main-header{
    position: relative;
    
       }
       
        .main-name{
            float: left;
            background: #f0f1f2;
            border: solid 1px #f0f1f2;
            font-size: 120%;
            padding-left: 4%;
        }
    
        .nav{
    
            float: right;
            margin-right: 7%;
        }
        .nav li{
            width: 10%;
            display: block;
            float: left;
            font-size: 20px;
            margin-left: 3em;
            padding: 1px;
            background: #f0f1f2;
            border: solid 1px #f0f1f2;
            font-weight: bold;
    
        }
        .initial-content{
        width: 55%;
        float: left;
        font-size: 20px;
        text-align: left;
        padding-left: 5%;
        
         
        }
        .main-image{
            width: 30%;
            float: right;
            margin-right: 10%;
        
        }

        /* Main Section */
        .secondary-heading {
    
            text-align: center;
            padding-right: 3%;
            
        }
        .center{
         /* margin: 0 auto;
            width: 99%; */
            max-width: 1250px;
            padding-left: 4%;
         


        }
        .debug p{
            max-width: 80%;
            max-height: 100%;
            
            
        }
        .skillheading {
float:left;
width: 20%;
padding: 0 40%;
margin-bottom: 5%;
margin-left: 4%;
 

        }
               
        
            .marketing{
                width: 30%;
                float: left;
                padding-left: 5%;
                                margin-right: 0;
                }
                .search{
                width: 30%;
                float: left;
                padding-left: 5%;
                margin-right: 0;
                }
                .travel{
                    width: 30%;
                    float: left;
                    padding-left: 5%;

                    margin-right: 0;
                }
                .map{
                    width: 30%;
                    float: left;
                    padding-left: 5%;
                    margin-bottom: 5%;
                    margin-top: 3%;
                    margin-right: 0;
                }
                .photo{
                    width: 30%;
                    float: left;
                    padding-left: 5%;
                    margin-bottom: 5%;
                    margin-top: 3%;
                    margin-right: 0;
                    offset: 0;
                }
                .calculator{
                    width: 30%;
                    float: left;
                    padding-left: 5%;
                    margin-bottom: 5%;
                    margin-top: 3%;
                    margin-right: 0;
                    offset:0;
                }

                .communication {
                    width: 45%;
                    float: left;
                    padding-left: 5%;
                    padding-right: 5%;
                }
                .originality{

                    width: 45%;
                    float: left;
                    padding-left: 10%;
                }
                .lower-nav{

                    margin-right:9%;
                    
                }
                .student-footer{
                    margin-left: 8%;
                    
                }
                .student-footer,
                .lower-nav{
                    max-width: 1250px;
                    
                }
    
            }
    
           