/*base layout */

* {

    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;    
    }
    
    /*background and header section*/
    .main-header {
    
        text-align: center;
        border: 1px solid #f0f1f2;
        background: #f0f1f2;
        color: gray;
         
    }
    
    .main-name{
        border: 2px solid white;
        font-size: 2rem;
        background: white;
        padding-top: 1px;
        width: 10em;
        margin: 0 auto;
        color: black;
        margin-top: 20px;
        
    
    }
    .nav li {
    list-style: none;
    border: 2px solid white;
    font-size: 2rem;
    background: white;
    padding-bottom: 10px;
    width: 5em;
    margin: 5px auto;
    list-style-position: inside;
    color: black
    
    }

    a:link{
    color:black;
    text-decoration: none;
    }
    
        /* Main text section */

    img {
        width:100%;
    }
    
    p,
    h2,
    h3{
    text-align: center;
    margin: 10 auto;
    
    }

    /* Footer Section */
    
    .main-footer {
        text-align: center;
        border: 1px solid #f0f1f2;
        background: #f0f1f2;
        position: relative;
            
    }
    
    .back-to-top {
        float: right;
        margin-bottom: 30px;
    }
    
    .student-footer {
    position: absolute;
    bottom: 10px;
    left: 5px;
    
    }
        
    
    
    .horizontal-line {
    display: hidden;
    width: 80%;
    
    }
    .lower-nav{
float:right;
padding-bottom: 10px;
padding-right: 15px;

    }
    .lower-nav li{

        display: inline-block;
        text-decoration: none;
        font-weight: bold;
        margin-left: 35px;
    }

/*clearfix*/
.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

    /*media queiry*/

    @media (max-width: 768){
        .lower-nav {
            display: none;
        }


    }
    
 
   
   
    @media (min-width: 768px) {
    
    
        .main-name{
            background: #f0f1f2;
            border: solid 1px #f0f1f2;
            font-size:20px;
        }
        .nav li {
            margin: 0 auto;
            width: 20%;
            display: inline-block;
            margin: 5px;
            background: #f0f1f2;
            border: solid 1px #f0f1f2;
            font-size: 20px;
            font-weight: bold;
    
        }
    
        .initial-content{
            width: 45%;
        float: left;
        text-align: left;
        font-size: 20px;
        }
        .main-image{
            width: 45%;
            float: right;
            margin: 20px;
        }
        .secondary-heading {
    
            text-align: center;
        }
        .marketing{
    width:45%;
    float: left;
    }
    .search{
    width:45%;
    float: right;
    }
    .travel{
        width: 45%;
        float: left;
    }
    .map{
        width: 45%;
        float: right;
        
    }
    .photo{ 
        width: 45%;
        float: left;
    }
    .calculator{
        width: 45%;
        float: right;
    }
    .back-to-top {

        display:none;
    }
    }
    
    @media (min-width: 1024px){
       .main-header{
    position: relative;
    
       }
       
        .main-name{
            float: left;
            background: #f0f1f2;
            border: solid 1px #f0f1f2;
            font-size: 120%;
        }
    
        .nav{
    
            float: right;
        }
        .nav li{
            width: 10%;
            display: block;
            float: left;
            font-size: 20px;
            margin-left: 3em;
            padding: 1px;
            background: #f0f1f2;
            border: solid 1px #f0f1f2;
            font-weight: bold;
    
        }
        .initial-content{
            width: 45%;
            max-width: 500px;
        position: absolute;
        bottom: 150px;
        left: 40px;
        font-size: 20px;
        text-align: left;
        }
        .main-image{
            width: 40%;
            float:right;
            margin-left: 250px;
        }
        .secondary-heading {
    
            text-align: center;
        }
        .first-line,
        .second-line{
            max-width: 1125px;
            margin: 0 auto;
        }
    
        
            .marketing{
                width:30%;
                float: left;
                padding-left: 20px;
                }
                .search{
                width:30%;
                float: left;
                padding-left: 20px;
                }
                .travel{
                    width: 30%;
                    float: left;
                    padding-left: 20px;
                }
                .map{
                    width: 30%;
                    float: left;
                    padding-left: 20px;
                }
                .photo{
                    width: 30%;
                    float: left;
                    padding-left: 20px;
                }
                .calculator{
                    width: 30%;
                    float: left;
                    padding-left: 20px;
                }
    
            }
    
            /* @media (max-width: 320px){
                .main-header {
    
                    text-align: center;
                    border: 1px solid #f0f1f2;
                    background: #f0f1f2;
                    color: gray;
                    margin: 30px;  
                }
                
                .main-name{
                    border: 2px solid white;
                    font-size: 2rem;
                    background: white;
                    padding-top: 1px;
                    width: 20%;
                    margin: 0 auto;
                    color: black;
                    margin-top: 20px;
                    
                
                }
                .nav li {
                list-style: none;
                border: 2px solid white;
                font-size: 2rem;
                background: white;
                padding-bottom: 10px;
                width: 20%;
                margin: 5px auto;
                color: black
                }
              
                img {
                    width: 70%;
                    display: block;
                    margin: 0 auto;
                    
                    }
                    
    
            } */