/*base layout */

* {

    box-sizing: border-box;
    
       
    }
    
    /*background and header section*/
    .body{

        font-family: 'Nunito', 'Lora', 'Arimo';
    }
    .main-header {
    
        text-align: center;
        border: 1px solid white;
        background: #f0f1f2;
        color: gray;
         
    }
    
    .main-name{
        border: 2px solid white;
        font-size: 2rem;
        background: white;
        padding-top: 1px;
        width: 10em;
        margin: 0 auto;
        color: black;
        margin-top: 20px;
        
    
    }
    .nav li {
    list-style: none;
    border: 2px solid white;
    font-size: 2rem;
    background: white;
    padding-bottom: 10px;
    width: 5em;
    margin: 15px auto;
    list-style-position: inside;
    color: black
    
    }

    a:link{
    color:black;
    text-decoration: none;
    }
    a:hover {
font-size: 150%;
color: firebrick;

    }
    
        /* Main text section */

    img {
        width:100%;
    }
    
    p,
    h2,
    h3{
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
    color: purple;    
    }
    .center{
width:99%;
max-width:1250px;
margin: 0 auto;
    }

      

    /* Footer Section */
    
    .main-footer {
        text-align: center;
        border: 1px solid #f0f1f2;
        background: #f0f1f2;
        position: relative;
            
    }
    
    .back-to-top {
        float: right;
        margin-bottom: 30px;
    }
    
    .student-footer {
    float: left;
    
    }
.lower-nav{
float:right;
padding-bottom: 10px;
padding-right: 15px;

    }
    .lower-nav li{

        display: inline-block;
        text-decoration: none;
        font-weight: bold;
        margin-left: 35px;
    }

/*clearfix*/
.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

    /*media queiry*/

    @media (max-width: 768px){
        .lower-nav {
            display: none;
        }

    }
       
    @media (min-width: 768px) {
    
    
        .main-name{
            background: #f0f1f2;
            border: solid 1px #f0f1f2;
            font-size:20px;
        }
        .nav li {
            margin: 0 auto;
            width: 20%;
            display: inline-block;
            margin: 5px;
            background: #f0f1f2;
            border: solid 1px #f0f1f2;
            font-size: 20px;
            font-weight: bold;
    
        }
    
        .initial-content{
            width: 45%;
        float: left;
        text-align: left;
        font-size: 20px;
        }
        .main-image{
            width: 45%;
            float: right;
            margin: 20px;
        }
        .secondary-heading {
    
            text-align: center;
        }
        .skillheading{
            width: 20%;
float: left;
padding: 0 40%;
margin-bottom: 10%;
margin-left: 7%;
        }
        .marketing{
    width:45%;
    float: left;
    }
    .search{
    width:45%;
    float: right;
    }
    .travel{
        width: 45%;
        float: left;
    }
    .map{
        width: 45%;
        float: right;
        
    }
    .photo{ 
        width: 45%;
        float: left;
        margin-bottom: 10%;
    }
    .calculator{
        width: 45%;
        float: right;
        margin-bottom: 10%;
    }
    .communication {
        width: 45%;
        float: left;
        
    }
    .originality{

        width: 45%;
        float: right;
    }
    .back-to-top {

        display:none;
    }
    }
    
    @media (min-width: 1024px){
       .main-header{
    position: relative;
    
       }
       
        .main-name{
            float: left;
            background: #f0f1f2;
            border: solid 1px #f0f1f2;
            font-size: 120%;
        }
    
        .nav{
    
            float: right;
        }
        .nav li{
            width: 10%;
            display: block;
            float: left;
            font-size: 20px;
            margin-left: 3em;
            padding: 1px;
            background: #f0f1f2;
            border: solid 1px #f0f1f2;
            font-weight: bold;
    
        }
        .initial-content{
        width: 40%;
        float: left;
        font-size: 20px;
        text-align: left;
         
        }
        .main-image{
            width: 40%;
            float: right;
        
        }
        .secondary-heading {
    
            text-align: center;
            
        }
        .center{
            margin: 0 auto;
            width: 99%;
            max-width: 1250px;
            padding: 0 1em;


        }
        .skillheading {
float:left;
width: 20%;
padding: 0 40%;
margin-bottom: 5%;
margin-left: 7%;
 

        }
               
        
            .marketing{
                width: 30%;
                float: left;
                padding-left: 5%;
                }
                .search{
                width: 30%;
                float: left;
                padding-left: 5%;
                }
                .travel{
                    width: 30%;
                    float: left;
                    padding-left: 5%;
                }
                .map{
                    width: 30%;
                    float: left;
                    padding-left: 5%;
                    margin-bottom: 10%;
                }
                .photo{
                    width: 30%;
                    float: left;
                    padding-left: 5%;
                    margin-bottom: 10%;
                }
                .calculator{
                    width: 30%;
                    float: left;
                    padding-left: 5%;
                    margin-bottom: 10%;
                }

                .communication {
                    width: 45%;
                    float: left;
                    padding-left: 10%;
                }
                .originality{

                    width: 45%;
                    float: left;
                    padding-left: 10%;
                }
    
            }
    
           